pandas
numpy
matplotlib
seaborn
requests-cache
sklearn
yahoo-fin
pandas-datareader
cvxopt
pyportfolioopt==1.4.0
nltk
ratelimit
beautifulsoup4
alphalens
wordcloud
plotly-express
pybind11
pyhrp
openpyxl
PyYAML
plotly-express
stable-baselines3[extra]
gym
gym-anytrading
mplfinance